.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: rgba(34, 25, 15, 0.452);
    
}
.logo{
    padding-top: 30px;
padding-left: 35px;
font-size: 30px;
font-weight: bolder;
color: aliceblue;
}
.navContent{
    display: flex;
    justify-content: space-around;
margin: 0;
padding-top: 30px;
padding-right: 35px
}
.navLink{
    color: aliceblue;
text-decoration: none;
}
.navItem{
list-style: none;
font-size: 20px;
margin-right: 10px;
color: rgb(242, 247, 245)
}
.navItem:hover{
    background: navy;
}